@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #fffff0;">List of accounts</h1>

<a class="btn btn-primary mb-3" asp-action="Customers" style="color: #ffffff; background-color: #33cc33;">View Customers</a>
<br />
<a class="btn btn-primary mb-3" asp-action="StoreOwners" style="color: #ffffff; background-color: #ffcc66;">View StoreOwners</a>
<br />
<a class="btn btn-primary mb-3" asp-action="ResetPassword" style="color: #ffffff; background-color: #66ccff;">Reset Password</a>
