@{
    ViewData["Title"] = "Home Page";
}
@model AppDev.Models.Book
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
        }

        .heading {
            text-align: center;
            padding-top: 120px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 70px;
            color: #ff9900;
        }

        .description {
            text-align: center;
            padding-top: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            width: 880px;
            margin: 0 auto;
            color: #cccccc;
        }

        .highlight-1 {
            color: #ff5050;
            font-weight: bold;
        }

        .highlight-2 {
            color: #66ccff;
            font-weight: bold;
        }

        .highlight-3 {
            color: #ffcc66;
            font-weight: bold;
        }

        .highlight-4 {
            color: #33cc33;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div style="height: 800px; background-color: transparent;">
        <div class="heading">
            Greetings to <span class="highlight-4">FPT's</span> <span class="highlight-1">Library!</span>
        </div>
        <div class="description">
            <span class="highlight-1">FPT's Library</span> is a <span class="highlight-2">refuge</span> for all book <span class="highlight-3">aficionados</span>!
            We provide an <span class="highlight-4">extensive assortment</span> of fiction,
            non-fiction, and children's books.
            Our knowledgeable <span class="highlight-3">personnel</span> is always available to help you discover the <span class="highlight-4">ideal reading material</span>.
            Feel free to <span class="highlight-2">explore our bookshelves</span>, and uncover your next exciting <span class="highlight-1">journey</span>.
        </div>
    </div>
</body>
</html>
