@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Định nghĩa các màu chữ sáng nhiều màu tương tự như trang chủ */
        h1 {
            color: white; /* Màu trắng */
        }

        p {
            color: white; /* Màu trắng */
        }

        /* Các quy tắc CSS khác của bạn */
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</body>
</html>
