<!DOCTYPE html>
<html lang="en">
<div id="header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPT's Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppDev.styles.css" asp-append-version="true" />
</div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FPT's Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                        <li class="nav-item">
                        <a class="btn btn-light" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                    </li>
                        @if (User.IsInRole(Roles.StoreOwner))
                        {
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="StoreOwner" asp-controller="Store" asp-action="Index">Store</a>
                        </li>
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="StoreOwner" asp-controller="Books" asp-action="Index">Store Books</a>
                            </li>
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="StoreOwner" asp-controller="Orders" asp-action="Index">Orders</a>
                            </li>
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="StoreOwner" asp-controller="RequestCategories" asp-action="Index">Requests New Category</a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin))
                        {
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="Admin" asp-controller="RequestCategories" asp-action="Index">Requests New Category</a>
                            </li>
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="Admin" asp-controller="Accounts" asp-action="Index">Accounts</a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.User))
                        {
                            <li class="nav-item">
                            <a class="btn btn-light" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity?.IsAuthenticated is false or null || User.IsInRole(Roles.User))
                    {
                        <div class="nav-item">
                        <a class="btn btn-light" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="container-md justify-content-center">
            @await RenderSectionAsync("Search", required: false)
        </div>
    </header>
<div id="body">
    <div class="container" style="padding-bottom:200px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</div>
    <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Contact</h3>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Mail">
                            <button class="btn btn-primary" type="submit">Send</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                           
                            <li><a href="#">APK DOWNLOAD</a></li>
                            <li><a href="#">APPSTORE</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
           

            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400"> Appdev 1670 Group The son - Ngoc Thong - Gia Thien.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p>ASM2  <i class="icon_heart"></i> in <a href="https://www.facebook.com/Sondtgcd191140" target="_blank">APPDEV 1670 - 08/2023 </a></p>
                </div>
            </div>
        </div>
    </div></div>
</footer>
</html> 
